body {
     background-color: #838384;
}

#carousel {
    margin: 0 auto;
    border: 15px solid #292a2b;
    border-radius: 2%;
    width: 500px;
    height: 300px;
    overflow: hidden;
    position: static;
}

img {
    width: 500px;
    height: 300px;
}

ul {
    width: 2500px;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    float: left;
    width: 500px;
    height: 300px;
}

.slider-left {
    position: absolute;
    font-size: 30px;
    display: block;
    right: 52%;
    margin-top: 15px;
    color: black;
    float: left;
  }

  .slider-right {
    position: absolute;
    display: block;
    left: 52%;
    margin-top: 15px;
    color: black;
    font-size: 30px;
    float: left;
  }